body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

button {
    display: inline;
}

#main, #chats {
    width: 650px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 90%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
    font-size: 14px;
}

.message{
    margin: 2px;
    padding: 5px;
    min-height: 25px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

#roomSelect {
    width: 100px;
}

.tab {
    display: inline;
    padding-left: 5px;
    border-top: 5px solid blue;
    border-left: 5px solid blue;
    border-right: 5px solid blue;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    display: inline !important;
    width: 100px !important;
}

#actual-image {
    border: none;
    height: 5vw;
    width: 5vh;
    float: right;
}
